#folder
Music_Player/.settings
Music_Player/build
Music_Player/Drivers
Music_Player/Inc
Music_Player/Middlewares
Music_Player/MDK-ARM

#file
Resoursce/0_Begining/EclipseIDE_Setup/File_needed/*.zip
Resoursce/0_Begining/EclipseIDE_Setup/File_needed/*.7z
